<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <base href="http://localhost:3000">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
    <div class="container-fluid">
        <% include ./commons/nav %>    
    </div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</html>