<!DOCTYPE html>
<html>

<head>
    <title>Sign In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
    <div class="container-fluid">
            <% include ./commons/nav %>  
        <div class="row">
            <div class="col-md-8">
                <form action="./signin">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">SignIn</button>
                </form>

            </div>
        </div>
    </div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</html>